In [20]:
import time
import pickle
import numpy as np
import pandas as pd
from datetime import datetime

train=pd.read_csv('/opt/ml/input/DKT/data/train_data.csv')
test=pd.read_csv('/opt/ml/input/DKT/data/test_data.csv')

In [42]:
avg_item = train.groupby('assessmentItemID').mean().reset_index()[['assessmentItemID','answerCode']]
avg_user = train.groupby('userID').mean().reset_index()[['userID','answerCode']]
train = pd.merge(train, avg_item, on='assessmentItemID', how='inner')
train = pd.merge(train, avg_user, on='userID', how='inner')
train.columns = ['userID','assessmentItemID','testId','answerCode','Timestamp','KnowledgeTag','avg_item','avg_user']

avg_item = test.groupby('assessmentItemID').mean().reset_index()[['assessmentItemID','answerCode']]
avg_user = test.groupby('userID').mean().reset_index()[['userID','answerCode']]
test = pd.merge(test, avg_item, on='assessmentItemID', how='inner')
test = pd.merge(test, avg_user, on='userID', how='inner')
test.columns = ['userID','assessmentItemID','testId','answerCode','Timestamp','KnowledgeTag','avg_item','avg_user']

/tmp/ipykernel_4779/3733983369.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_item = train.groupby('assessmentItemID').mean().reset_index()[['assessmentItemID','answerCode']]
/tmp/ipykernel_4779/3733983369.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_user = train.groupby('userID').mean().reset_index()[['userID','answerCode']]

In [43]:
train

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,avg_item,avg_user
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,0.982063,0.630872
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,0.964126,0.630872
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,0.910314,0.630872
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,0.968610,0.630872
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,0.941704,0.630872
...,...,...,...,...,...,...,...,...
2266581,6754,A050001003,A050000001,1,2020-01-20 13:31:08,2620,0.555556,0.703704
2266582,6754,A050001004,A050000001,1,2020-01-20 13:33:09,2620,0.555556,0.703704
2266583,6754,A050001005,A050000001,1,2020-01-20 13:38:01,2620,0.555556,0.703704
2266584,6754,A050001006,A050000001,1,2020-01-20 13:39:20,2620,0.555556,0.703704
2266585,6754,A050001007,A050000001,0,2020-01-20 13:42:49,2620,0.666667,0.703704